<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147012067456-gks8tisi49kf1qr4rrb56sdmq9sacscf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147012067456-gks8tisi49kf1qr4rrb56sdmq9sacscf</string>
	<key>API_KEY</key>
	<string>AIzaSyAbnhDYWtcoHZAN2AdRP2R1-9-zTAb4yuo</string>
	<key>GCM_SENDER_ID</key>
	<string>147012067456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>amatnug.amatnug.ShoppingApp</string>
	<key>PROJECT_ID</key>
	<string>shopping-app-65018</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-app-65018.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147012067456:ios:43bb3784605a54ed984665</string>
</dict>
</plist>